body
{
    background: #06bcc1; 
    font-family: 'Times New Roman', Times, serif;
    /* These didn't work, so I've implemented them in html directly */
}

.container
{
    /* background: #06bcc1; */
    /* border: 1px solid black; */

    width: 95%;
    height: 90vh;
    display: flex;
    text-align: center;
}

.quotes
{
    /* border: 1px solid black; */

    width: 900px; 
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    padding: 0 50px; 
    color: gray;
    background-color: #f4edea; 
    border: 10px solid #f4d1ae;
}

.quotes h3
{
    font-size: 1.5rem;
}

.quotes p
{
    font-size: 2rem;
}

@media(max-width:480px)
{
        .quotes h3
    {
        font-size: 1rem;
    }

    .quotes p
    {
        font-size: 1.5rem;
    }
}